/** 
 * Variables
 */

// Colors
$color-base: #ddd;
$color-primary: #c4e3ff;
$color-primary-highlight: #d2eaff;
$color-secondary: #f7a046;
$color-background: #041423;

$color-white: lighten($color-base, 100%);
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

// Typographic
$typographic-font-family: system-ui,-apple-system,blinkmacsystemfont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 18px;
$typographic-small-font-size: 16px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-color: $color-primary;
$typographic-link-color-highlight: $color-primary-highlight;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(
  16 * calc($typographic-root-font-size / 100) * $typographic-base-line-height
);

// Layout
$layout-post-single-max-width: 1024px;
$layout-post-single-width: $layout-post-single-max-width - 150px;

$layout-width: 1200px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
