@import './variables';
@import './mixins';

.menu {
  @include margin-bottom(1);
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    &-item {
      padding: 0;
      margin: 10px 0;
      &-link {
        font-size: $typographic-base-font-size * 1.25;
        color: $typographic-link-color;
        font-weight: 600;
        border: 0;
        &:hover,
        &:focus {
          color: $color-secondary;
          border-bottom: 1px solid $color-secondary;
        }
        &--active {
          color: $color-base;
          border-bottom: 1px solid $color-base;
        }
      }
    }
  }
}
