.page {
  margin-bottom: var(--space-lg);
}

.page__title {
  font-size: var(--font-size-h1);
  font-weight: 500;
  line-height: var(--line-height-tight);
  margin-top: 0;
  margin-bottom: var(--space-lg);
}

.page__body {
  font-size: var(--article-font-size);
  line-height: var(--line-height-relaxed);
  margin: 0 0 var(--space-md);
}

.page__body p {
  font-size: var(--article-font-size);
  line-height: var(--line-height-relaxed);
  margin-bottom: var(--space-md);
}
