@use "sass:color";

@import './variables';
@import './mixins';

.post {
  @include margin-bottom(2);
  &:last-child {
    @include margin-bottom(0.5);
  }
  &__title {
    font-size: $typographic-base-font-size * 1.6875;
    @include line-height(1.5);
    @include margin-top(0.2);
    @include margin-bottom(0.25);
    &-link {
      color: $typographic-link-color-highlight;
      &:hover,
      &:focus {
        color: $color-secondary;
        border-bottom: 1px solid $color-secondary;
      }
    }
  }
  &__description {
    font-size: $typographic-base-font-size;
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(0.25);
    @include margin-top(0.25);
  }
  &__meta {
    &-time {
      font-size: $typographic-small-font-size;
      color: color.adjust($color-background, $lightness: 40%);
      font-weight: 500;
      text-transform: uppercase;
    }
    &-divider {
      margin: 0 5px;
    }
  }
  &__readmore {
    font-size: $typographic-base-font-size;
    color: $color-primary;
    &:hover,
    &:focus {
      color: $color-primary;
      border-bottom: 1px solid $color-primary;
    }
  }
}

.embedVideoIframe {
  display: block;
}
