:root {
  /* Colors */
  --color-base: #e9f5ff;
  --color-primary: #98c7f1;
  --color-primary-highlight: #d2eaff;
  --color-primary-dark: #333;
  --color-primary-dark-link: rgb(110, 170, 222);
  --color-secondary: #ee6f6b;
  --color-background: #041423;
  --color-white: #ffffff;
  --color-gray: #f4faff;
  --color-gray-border: #ffffff;
  --color-gray-bg: #ffffff;

  /* Typography */
  --font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  --font-size-root: 100%;
  --font-size-base: 18px;
  --font-size-small: 16px;
  --font-size-large: 22px;
  --font-size-h1: 2.2rem;
  --font-size-h2: 1.6rem;
  --font-size-h3: 1.3rem;
  --line-height-base: 1.8;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;

  /* Layout */
  --layout-post-single-max-width: 1024px;
  --layout-post-single-width: 874px;
  --layout-width: 1200px;
  --layout-breakpoint-sm: 685px;
  --layout-breakpoint-max: 874px;
  --layout-breakpoint-md: 960px;
  --layout-breakpoint-lg: 1100px;

  /* Other variables... */
}
