---
import IndexLayout from '../layouts/IndexLayout.astro';
import RecentArticles from '../components/RecentArticles.astro';
import { Content as About } from '../components/About.mdx';
import { site } from "../data/siteMetaData.js";

---

<IndexLayout title={site.title}>
	<div class="content">
		<div class="content__inner">
			<div class="page">
				<About class="page__body"/>
				<hr />
				<RecentArticles />
			</div>
		</div>
	</div>
</IndexLayout>
