---
import { site } from "../data/siteMetaData.js";
import "../styles/components/navigation.css";

const { author } = site;
const { name } = author;
---

<header class="compact-header">
	<div class="compact-header-content">
		<a href="/" class="compact-home-link">
			<img src="/photo.jpg" alt="Marc Grabanski" class="compact-avatar" />
			<div class="compact-identity">
				<h1 class="compact-name">
					<span class="highlight-compact">Marc Grabanski</span>
				</h1>
				<p class="compact-subtitle">Developer, Entrepreneur, Health Enthusiast</p>
			</div>
		</a>
		<nav class="compact-nav">
			<a href="/articles/1" class="compact-nav-link">Articles</a>
		</nav>
	</div>
</header> 