---
import '../styles/global.scss';
import { site } from "../data/siteMetaData.js";
import CommonHead from '../components/CommonHead.astro';
import ArticleTemplateDetails from '../components/ArticleTemplateDetails.astro';

export interface Props {
  frontmatter: {postTitle: string, description: string};
}

const { frontmatter } = Astro.props;
const { postTitle, description } = frontmatter;
const { title } = site;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{`${postTitle} - ${title}`}</title>
		<meta name="description" content={description} />
		<CommonHead />
	</head>
	<body>
    <main class="layout" transition:animate="slide">
      <ArticleTemplateDetails post={frontmatter}>
        <slot />
      </ArticleTemplateDetails>
    </main>
  </body>
</html>